@import url('https://fonts.googleapis.com/css?family=Black+And+White+Picture|Poor+Story|Spicy+Rice');
@import url('https://fonts.googleapis.com/css?family=Kumar+One+Outline');
body{
  background-image: url(59.png), url(índice2.jpg);
  background-position: left bottom;
  background-repeat: no-repeat, repeat;
}
#d_u{
  background-color: red;
  font-family: 'Spicy Rice', cursive;
  text-align: left;
  width:320px;
  height:200px;
  border: 10px solid green;
  box-shadow: inset 2px 2px 5px black, inset -2px -2px 5px black, 2px 2px 5px black, -2px -2px 5px black;
}
  #d_d{
  background-color: red;
  font-family: 'Poor Story', cursive;
  text-align: right;
  width:300px;
  height:400px;
  opacity:0.5;
  box-shadow: -20px 10px 5px;
}
#d_t{
  color:rgba(0,255,0,0.5);
  background-color: red;
  font-family: 'Black And White Picture', sans-serif;
  text-align: center;
  width:500px;
  height:600px;
  box-shadow: 0 0 20px;
}

#d_u:hover{
  opacity: 0.5;
  box-shadow: 2px 2px 5px black,-2px -2px 5px black;
}

#d_d:hover{
opacity: 0.2;
box-shadow: -20px 10px;
}

#d_t:hover{
opacity: 0.5;
box-shadow:0 0 20px, 0 0 21px black;
}

ul{
  color:black;
  background-color: rgb(255, 237, 78);
  text-align: center;
  list-style-type: none;
  border-style: solid;
  width:150px;
  padding:5px;
}
 li{
  margin: 4px;
  list-style-type: none;
  border:1px solid black;
  background-color: rgb(255, 248, 189);
  border: 2px solid black;
  text-align: center;
}
.arriba{
  background-image: url(indice2.jpg);
  height: 140px;
}
h1{
  text-shadow: 2px 2px 0 green, -2px -2px 0 blue, 0px 0px 60px white;
}
.centrada{
  background-image: url(stripes.jpg);
  font-family:'Kumar One Outline', cursive;
  color:white;
  text-shadow: 0px 0px 5px grey;
  text-align:center;
  border: 4px groove;
  height: 80px;
}
.oscar{
padding:5px;
background-color: brown;
text-align: center;
height: 300px;
}
h6{
  text-align:left;
  background-color: rgb(236, 180, 152);
  margin-top:-18px;
  text-shadow:1px 1px 8px white; color:grey;
  width: 600px;
  margin-left:500px;
}
#letra:first-letter{
  color:blue;
}
.dentro{
  font-family: 'Kumar One Outline', cursive;
  background-color: rgb(249, 218, 203);
  border: dotted;
  padding: 5px;
  text-align: left;
  font-size: 14px;
  height: 150px;
}
.ultimo{
  padding:5px;
  background-image: url(stripes.jpg);
}
#uno{
  font-size: 30px;
  text-align: center;
  color: red;
  background-color: grey;
  border-left: solid 10px green;
  border-top: solid 10px black;
  border-bottom: solid 10px black;
  border-right: solid 10px black;
  width: 400px;
  height:50px;
  box-shadow: 10px 10px 10px red;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#dos{
  font-size: 30px;
  text-align: center;
  color: blue;
  background-color: black;
  border: dashed 8px orange;
  width: 400px;
  height:50px;
  box-shadow: 5px 5px 20px white;
  border-radius: 15px;
}
#tres{
  font-size: 30px;
  text-align: center;
  color: purple;
  background-color: black;
  border: double 8px yellow;
  width: 400px;
  height:50px;
}
#cuatro{
  margin-left:15%;
  font-size: 30px;
  text-align: center;
  color: purple;
  background-color: black;
  border: dotted 3px blue;
  box-shadow: 5px 5px 20px purple;
  width: 400px;
  height:75px;
}
#cinco{
  
  font-size: 30px;
  text-align: center;
  color: purple;
  border: groove 6px blue;
  box-shadow: 5px 5px 20px pink;
  width: 45px;
  height:45px;
}
#seis{
  font-weight: bold;
  background-color: rgba(0,110,0,0.2);
  font-size: 30px;
  text-align: center;
  color: green;
  border: solid 8px rgba(0,110,0,0.4);
  width: 300px;
  height:45px;
  box-shadow: inset 10px 10px 10px black;
}
#siete{
  font-weight: bold;
  background-color: rgba(0,155,0,0.2);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: groove 15px grey;
  border-left: groove 8px grey;
  color: black;
  text-shadow: 2px 2px 15px white, -2px -2px  15px white;
  font-size: 30px;
  text-align: center;
  width: 280px;
  height:45px;
  }
#ocho{
  background-color:rgb(0,100,0);
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
  border-top-right-radius:20px;
  border-bottom: solid 8px rgb(0,195,0);
  border-left: solid 8px rgb(0,115,0);
  border-right: solid 8px rgb(0,195,0);
  color: blue;
  font-size: 30px;
  text-align: center;
  width: 280px;
  height:45px;
  box-shadow: 10px 10px 10px;
}

.btn{
  font-size: 30px;
  background: white;
  border-radius: 40%;
  color: black;
  text-shadow: -2px -2px 1px white, 2px 2px 1px white, -2px 2px 1px white, 2px -2px 1px white;

}

#btn1:hover{
background: rgba(255,0,0,0.5);
}
#btn2:hover{
background: hsla(120,100%,50%,0.3);
}
#btn3:hover{
background: #0000FF;
}

#btn1:active{
  font-size: 30px;
  background: white;
  border-radius: 40%;
  color: white;
  text-shadow: -5px -5px 5px black, 5px 5px 5px black, -5px 5px 5px black, 5px -5px 5px black;
}
#btn2:visited{
background: grey;
color:black;
}