body{
  background-image: linear-gradient(to right, snow, floralwhite);
  font-family: Lucida Console;
  }

h1{
  outline-style: dotted;
  outline-color: black;
  outline-width: 5px;
  border-style: double;
  border-width: 5px;
  border-color: grey;
  text-align: center;
}
h4{
  color:black;
  font-size: 15px;
}
.errorf{
    color: red;
    font-size: 80%;
    text-shadow: 0 0 0;

}
input{
    font-size: 1.1em;
    border-radius: 5px;
    background-position: ;
}
form p{
    margin: 0 0 5px 0;
    font-size: 1.2em;
    line-height: 25px;
}
select{
    font-size: 1.2em;
}
label{
    display: inline-block;
    width: 200px;
}
.listaerrores{
    background-color: #fcc;
    color: red;
    padding: 10px 30px;
}
.listaerrores li{
    margin-bottom: 3px;
}
